<img src="https://viewstockholm.com/wp-content/uploads/2015/09/bowling-stockholm.jpg" align="middle">

<%= button_to "New Game", { :controller => "games", :action => "new"} %><br>
<p><font color="red" size=5><%=session[:info]%></font></p>

<table>
  <tr>
    <%(1..10).each do |num|%>
    <td> <strong> <%=num%> </strong></td>
    <%end%>
  </tr>
  <tr>
    <%@game1.frames.each do |frame|%>
      <td>
        <%if frame[:strike]%>
          X | <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%elsif frame[:spare]%>
          <%=frame[:ball_1]%> | / <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%else%>
          <%=frame[:ball_1]%> | <%=frame[:ball_2]%>
          <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%end%>
      </td>
    <%end%>
  </tr>
    <%@game1.frames.each do |frame|%>
      <td><%=frame[:score]%></td>
    <%end%>
  <tr>
  </tr>
</table><br>

<%= button_to "Player 1", { :controller => "games", :action => "play1"}, disabled: (session[:player] == 2 || session[:game_over]) %>

<table>
  <tr>
    <%(1..10).each do |num|%>
    <td> <strong> <%=num%> </strong></td>
    <%end%>
  </tr>

  <tr>
    <%@game2.frames.each do |frame|%>
      <td>
        <%if frame[:strike]%>
          X | <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%elsif frame[:spare]%>
          <%=frame[:ball_1]%> | / <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%else%>
          <%=frame[:ball_1]%> | <%=frame[:ball_2]%>
          <%if frame[:ball_3].present?%> | <%=frame[:ball_3]%> <%end%>
        <%end%>
      </td>
    <%end%>
  </tr>
    <%@game2.frames.each do |frame|%>
      <td><%=frame[:score]%></td>
    <%end%>
  <tr>
  </tr>
</table><br>
<%= button_to "Player 2", { :controller => "games", :action => "play2"}, disabled: (session[:player] == 1 || session[:game_over])%>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
</style>
